.lpHeader {
  display: flex;
  justify-content: space-between;
}
.lpHeader-contact-container {
  width: 40%;
  font-size: 14px;
}
.lpHeader-contact-container p {
  margin-top: 0;
}
.lpheader__namelogo {
  width: 100%;
  position: relative;
  top: 15px;
}
.lpheader__title {
  font-size: 32px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.lpheader__subtitle {
  font-size: 24px;
  margin: 20px 0;
}
.lpHeader-image-container {
  overflow: hidden;
  padding-bottom: 4px;
  position: relative;
}
.lpHeader-greeting-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93%;
  height: 100%;
}
.lpHeader-greeting-message {
  font-size: 50px;
  display: flex;
  justify-content: center;
}
.lpHeader-greeting-image-container {
  font-size: 150px;
  line-height: 1;
}
.lpHeader-greeting-image {
  width: 100%
}
.lpHeader-image-container-image {
  width: 92%;
  margin-top: 10px;
  object-fit: cover;
  z-index: 10;
}
.lpHeader-info-container {
  width: 50%;
}
.lpHeader-info-container p {
  width: 93%;
}
.lpTechList-container {
  margin-bottom: 20px;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.lpTechList-container ul li {
  float: left;
  padding-left: 10px;
}
.lpTechList-container ul li:first-child {
  list-style-type: none;
}
.lpProjectOverview-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.lpProjectOverview-container a {
  width: 49%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-bottom: 20px;
}

.lpLinkedin-button-container {
  width: 100%;
  margin: 30px 0;
  text-align: center;
}
.github-button-container {
  margin-top: 45px;
  display: flex;
  justify-content: center;
}
.lpStudies-section p {
  padding: 0 8px
}
.lpExperience-container {
  margin-bottom: 20px;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.lpExperience-container ul li {
  float: left;
  padding-left: 10px;
}
.lpExperience-container ul li:first-child {
  list-style-type: none;
}


@media (min-width: 601px) and (max-width: 1099px) {
  .lpHeader {
    flex-wrap: wrap;
  }
  .lpHeader-contact-container {
    width: 100%;
  }
  .lpHeader-image-container-image,
  .lpHeader-greeting-container {
    max-width: 570px;
    max-height: 640px;
  }
  .lpHeader-info-container {
    width: 100%;
  }
  .lpHeader-info-container h2 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .lpHeader-info-container p {
    width: 100%;
    margin-top: 0px;
  }
  .lpheader__title {
    font-size: 37px;
    max-width: 100%;
    margin-top: 10px;
  }
  .lpheader__namelogo {
    max-width: 575px;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 600px) {
  .lpHeader {
    flex-wrap: wrap;
  }
  .lpHeader-contact-container {
    width: 100%;
  }
  .lpHeader-image-container-image {
    width: 100%;
  }
  .lpHeader-info-container,
  .lpHeader-greeting-container {
    width: 100%;
  }
  .lpHeader-info-container h2 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .lpHeader-info-container p {
    width: 100%;
    margin-top: 0px;
  }
  .lpheader__title {
    font-size: 37px;
    width: 100%;
  }
  .lpheader__namelogo {
    width: 100%;
    position: relative;
    top: 10px;
    margin-bottom: 5px;
  }
  .lpProjectOverview-container a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-bottom: 20px;
  }
}
